workspace/libGetCustomer_v1/GetCustomer/GetCustomerRequest_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <xsd:complexType name="GetCustomerType">
    	<xsd:sequence>
    		<xsd:element name="customerId" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetCustomer" type="GetCustomerType"></xsd:element>
</xsd:schema>